body {
  height: 2000px;
}
.jumbotron {
  background-color: rgb(32, 231, 75);
}
.jumbotron img {
  width: 200px;
}
.card img {
  object-fit: cover;
  object-position: center;
}
#projects {
  background-color: aqua;
}
